.container{
  /* background-color: rgb(14, 15, 15); */
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
  margin: 10px;
  padding: 20px;
  height: 70px;
  width: auto;
  /* color: white; */
  border-radius: 10px;
}
.day{
  background-color: rgb(229, 255, 0);
  color: rgb(12, 12, 12);
  
}
.night{
  background-color: rgb(38, 0, 255);
  color: white;
}